.advertisements-search {
    overflow:hidden;
}

.advertisements-search table td{
    padding:30px ;
}

.advertisements-search ul {

    list-style:none;
    margin:0;
    padding:0;
}

.advertisements-search ul li{
    display:inline;
    margin:0;
    padding:0;
}

.SearchBtn{


    width:160px;
}


