@model  PhysicsAdvertisements.MVC.Web.ViewModels.PartialModulesViewModels.AdvertisementsSearchVM


@using (Html.BeginForm("AdvertisementsSearch", "PartialModules", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row advertisements-search">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul>
                <li>Physics areas: </li>
                <li>
                    @Html.DropDownListFor(x => x.SelectedPhysicsArea, Model.PhysicsAreaControlDataSource, new { @class = "combo-box" })
                    @*<asp:DropDownList ID="PhysicsAreaControl"  CssClass="combo-box"> </asp:DropDownList>*@

                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul>
                <li>Category: </li>
                <li>
                    @Html.DropDownListFor(x => x.SelectedCategory, Model.CategoryControlDataSource, new { @class = "combo-box" })
                    @*<asp:DropDownList ID="CategoryControl"  CssClass="combo-box"></asp:DropDownList>*@
                    @*@Html.DropDownListFor(x => )*@
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul>
                <li>
                    <button ID="SearchBtnControl" type="submit" class="btn btn-success SearchBtn">Search</button>
                </li>
            </ul>
        </div>
    </div>
}