
<div class="row menu user-menu">
    <ul>
        <li>
            <a href="/Account/UserData">User data</a>
        </li>
        <li>
            <a href="/Advertisement/Create">Create advertisement</a>
        </li>
        <li>
            <a href="/Advertisement/MyAdvertisements">My advertisements</a>
        </li>
    </ul>
</div>
